Package: me.kritanta.liblayout
Name: liblayout
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: Kritanta
Author: Kritanta
Section: System
Tag: role::developer
